body {
  background-color: transparent;
  overflow: hidden;
}
.App {
  position: absolute;
  padding: 0;
  -webkit-app-region: drag;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
